.workspace-header {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 25px 0;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 8px;

  border: none;
  background: #0b3558;
  color: white;

  padding: 12px 18px;

  border-radius: 10px;

  cursor: pointer;

  font-size: 14px;
  font-weight: 600;

  transition: all 0.3s ease;
}

.back-btn:hover {
  background: #0f4a78;
  transform: translateY(-2px);
}

.workspace-tabs {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}

.workspace-tab {
  border: none;

  padding: 12px 24px;

  background: white;

  border-radius: 12px;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow:
    0 2px 8px rgba(0,0,0,0.08);
}

.workspace-tab:hover {
  transform: translateY(-2px);

  box-shadow:
    0 6px 20px rgba(0,0,0,0.12);
}

.workspace-tab.active {
  background: #0b3558;
  color: white;
}